$sidebar-color: #ccff90;

.editor-toolbox {
  background-color: $sidebar-color;
  overflow-y: auto;
}
.editor-title {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0%;
  z-index: 2;
}
.editor-content {
  height: auto;
  min-height: 70vh;
  max-height: 70vh;
  overflow-y: auto;
}
.presenter {
  height: auto;
  min-height: 78vh;
  max-height: 78vh;
  overflow-y: auto;
}

input{
  &.presenter-input{
    transform:scale(1.75);
    cursor:pointer;
  }
}
