$sidebar-color: #ccff90;

.editor-toolbox {
  background-color: $sidebar-color;
  overflow-y: auto;
}
.editor-title {
  position: sticky;
  position: -webkit-sticky; /* for Safari */
  top: 0%;
  z-index: 2;
}
.editor-content {
  height: auto;
  max-height: 70vh;
  overflow-y: auto;
}
.presenter {
  height: 80vh;
  max-height: 80vh;
  overflow-y: auto;
}
